FORMAT: 1A
HOST: http://www.goodfsdfsdagle.com

# ananas666
Notes API is a *short texts saving* service similassssdddr to its pdddhysdfsdfdsical paper presence on your table.

# Group Notes
Notes related resources of the **Notes API**

## Notes Collection [/notes]

### Create a Note [POST]
+ Request (application/json)

    + Headers
        
            testHeader1: 'testHeader1Val'
            testHeader2: 'testHeader2Val'
            
    + Body 
    
            {         
            "simpleKeyValueOK": "simpleKeyValueOK",
            "simpleKeyValueNumberOK": 1,
            "simpleKeyValueOKmiss": "simpleKeyValueOKmiss",
            "keyWithObjectValueOK": {
                "keyWithObjectValueOKnestedKey": "keyWithObjectValueOKnestedKey",
                "keyWithObjectValueOKnestedKey2": "keyWithObjectValueOKnestedKey2"
                },
            "keyWithObjectValueFail": {
                "keyWithObjectValueOKnestedKeyMiss": "keyWithObjectValueOKnestedKeyMiss",
                "keyWithObjectValueOKnestedKey2": "keyWithObjectValueOKnestedKey2"
                },
            "keyWithObjectValueWrongTypeFail": {
                "keyWithObjectValueOKnestedKeyMiss": "keyWithObjectValueOKnestedKeyMiss",
                "keyWithObjectValueOKnestedKey2": "keyWithObjectValueOKnestedKey2"
                },
            "keyWithArrayValueOK": [1,2,3],
            "keyWithArrayValueOK2": [1,2,3],
            "keyWithArrayValueTypeFail": [1,2,3]
            }
            
    

+ Response 201 (application/json)

        { "id": 3, "title": "Buy cheese and bread for breakfast." }

